In [ ]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.dates as mtd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
FL_JAN_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_JAN_2019_20cols.csv')
FL_FEB_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_FEB_2019_20colscsv.txt')
FL_MAR_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_MARCH_2019_20cols.csv')
FL_APRIL_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_APRIL_2019_20colscsv.txt')
FL_MAY_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_MAY_2019_20cols.csv')
FL_JUNE_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_JUNE_2019_20cols.csv')

In [ ]:
#FL_JULY_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_JULY_2019_20cols.csv')
#FL_AUG_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_AUG_2019_20cols.csv')
#FL_SEPT_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_SEPT_2019_20cols.csv')
#FL_OCT_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_OCT_2019_20cols.csv')
#FL_NOV_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_NOV_2019_22cols.csv')
#FL_DEC_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_DEC_2019_20cols.csv')

In [ ]:
#FL_JAN_2021_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2021_20cols/FL_JAN_2021_20cols.csv')
#FL_FEB_2021_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2021_20cols/FL_FEB_2021_22cols.csv')
#FL_MAR_2021_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2021_20cols/FL_MARCH_2021_20cols.csv')
#FL_APRIL_2021_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2021_20cols/FL_APRIL_2021_22cols.csv')
#FL_MAY_2021_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2021_20cols/FL_MAY_2021_20cols.csv')
#FL_JUNE_2021_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2021_20cols/FL_JUNE_2021_22cols.csv')
#FL_JULY_2021_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2021_20cols/FL_JULY_2021_20cols.csv')

In [ ]:
FL_CONSOLIDATED2019=pd.concat([FL_JAN_2019_22cols,FL_FEB_2019_22cols,FL_MAR_2019_22cols,FL_APRIL_2019_22cols,FL_MAY_2019_22cols,FL_JUNE_2019_22cols], axis=0)

In [ ]:
#FL_CONSOLIDATED2019.count()

In [ ]:
FL_CONSOLIDATED2019=FL_CONSOLIDATED2019.drop(columns=['Unnamed: 20'] ,axis=1)

In [ ]:
from datetime import date
FL_CONSOLIDATED2019['FL_DATE']=pd.to_datetime(FL_CONSOLIDATED2019['FL_DATE'],format='%Y-%m-%d')

In [ ]:
#FL_CONSOLIDATED2019.head()

In [ ]:
#FL_CONSOLIDATED2019.info()

In [ ]:
FL_CONSOLIDATED2019.isna().sum()

QUARTER                      0
MONTH                        0
DAY_OF_WEEK                  0
FL_DATE                      0
OP_CARRIER                   0
TAIL_NUM                 19013
OP_CARRIER_FL_NUM            0
ORIGIN                       0
DEP_TIME                 93043
DEP_DELAY                93063
DEP_DEL15                93063
TAXI_OUT                 95293
WHEELS_OFF               95293
CRS_ELAPSED_TIME             8
DISTANCE                     0
CARRIER_DELAY          3178349
WEATHER_DELAY          3178349
NAS_DELAY              3178349
SECURITY_DELAY         3178349
LATE_AIRCRAFT_DELAY    3178349
dtype: int64

### * Replacing nan as zero in all columns  
* dropping null values in DEP_DELAY','DEP_DEL15','DEP_TIME

In [ ]:
FL_CONSOLIDATED2019.dropna(subset=['DEP_DELAY','DEP_DEL15','DEP_TIME'],inplace=True)

In [ ]:
FL_CONSOLIDATED2019.isna().sum()

QUARTER                      0
MONTH                        0
DAY_OF_WEEK                  0
FL_DATE                      0
OP_CARRIER                   0
TAIL_NUM                     0
OP_CARRIER_FL_NUM            0
ORIGIN                       0
DEP_TIME                     0
DEP_DELAY                    0
DEP_DEL15                    0
TAXI_OUT                  2231
WHEELS_OFF                2231
CRS_ELAPSED_TIME             1
DISTANCE                     0
CARRIER_DELAY          3085286
WEATHER_DELAY          3085286
NAS_DELAY              3085286
SECURITY_DELAY         3085286
LATE_AIRCRAFT_DELAY    3085286
dtype: int64

In [ ]:
#FL_CONSOLIDATED2019.fillna({x:0 for x in ['TAXI_OUT','WHEELS_OFF','CARRIER_DELAY','WEATHER_DELAY','NAS_DELAY','SECURITY_DELAY','LATE_AIRCRAFT_DELAY']}, inplace=True)

In [ ]:
#FL_CONSOLIDATED2019.isna().sum()

In [ ]:
FL_CONSOLIDATED2019.fillna(0,inplace=True)

# Creating new column- WEEK_OF_MONTH

In [ ]:
#The calendar module has a monthcalendar method that returns a 2D array where each row represents a week. For example:
#import calendar
#calendar.monthcalendar(2015,9)
#result o/p ll be ilke this:

'''[[0,0,1,2,3,4,5],
 [6,7,8,9,10,11,12],
 [13,14,15,16,17,18,19],
 [20,21,22,23,24,25,26],
 [27,28,29,30,0,0,0]]'''

'[[0,0,1,2,3,4,5],\n [6,7,8,9,10,11,12],\n [13,14,15,16,17,18,19],\n [20,21,22,23,24,25,26],\n [27,28,29,30,0,0,0]]'

In [ ]:
#solution for the above code
import datetime
from calendar import Calendar

def week_of_month(tgtdate):
  n = datetime.datetime(tgtdate.year, tgtdate.month, tgtdate.day)
  cal = Calendar() # week starts Monday
#cal = Calendar(6) # week stars Sunday
  weeks = cal.monthdayscalendar(n.year, n.month)
  for x in range(len(weeks)):
    if n.day in weeks[x]:
        return(x+1)
FL_CONSOLIDATED2019['WEEK_OF_MONTH'] = FL_CONSOLIDATED2019['FL_DATE'].apply(week_of_month)

In [ ]:
FL_CONSOLIDATED2019[['FL_DATE','WEEK_OF_MONTH']].head()

     FL_DATE  WEEK_OF_MONTH
0 2019-01-26              4
1 2019-01-07              2
2 2019-01-08              2
3 2019-01-09              2
4 2019-01-10              2

# Creating New column--> Week days==0, Weekends == 1(DAY_OF_WEEK_days_end)

In [ ]:
def get_day_category(day_of_week):
    if day_of_week <= 5:
        return 0 #'working day'
    elif day_of_week > 5:
        return 1 #'weekend'
FL_CONSOLIDATED2019['DAY_OF_WEEK_days_end'] = FL_CONSOLIDATED2019['DAY_OF_WEEK']
   
FL_CONSOLIDATED2019['DAY_OF_WEEK_days_end'] = FL_CONSOLIDATED2019.DAY_OF_WEEK_days_end.apply(get_day_category)
FL_CONSOLIDATED2019.head()

   QUARTER  MONTH  ...  WEEK_OF_MONTH DAY_OF_WEEK_days_end
0        1      1  ...              4                    1
1        1      1  ...              2                    0
2        1      1  ...              2                    0
3        1      1  ...              2                    0
4        1      1  ...              2                    0

[5 rows x 22 columns]

# Creating New column-> DEP_TIME_BLK as 6 block per day, using DEP_time with 24 hrs time stamp

In [ ]:
def get_dep_time_blk(dep_time):
    dep_hour = str('%04d' %(dep_time))[:2]
    
    return dep_hour

FL_CONSOLIDATED2019['DEP_TIMEslot_BLK'] = FL_CONSOLIDATED2019.DEP_TIME.apply(get_dep_time_blk)
print(FL_CONSOLIDATED2019[['DEP_TIME','DEP_TIMEslot_BLK']].head(5))

   DEP_TIME DEP_TIMEslot_BLK
0    1727.0               17
1     830.0               08
2     830.0               08
3     825.0               08
4     826.0               08

In [ ]:
FL_CONSOLIDATED2019[['DEP_TIMEslot_BLK']]=FL_CONSOLIDATED2019[['DEP_TIMEslot_BLK']].astype(int)

In [ ]:
FL_CONSOLIDATED2019.head()

   QUARTER  MONTH  ...  DAY_OF_WEEK_days_end DEP_TIMEslot_BLK
0        1      1  ...                     1               17
1        1      1  ...                     0                8
2        1      1  ...                     0                8
3        1      1  ...                     0                8
4        1      1  ...                     0                8

[5 rows x 23 columns]

In [ ]:
#FL_CONSOLIDATED2019=FL_CONSOLIDATED2019.drop(columns=['DEP_TIME'] ,axis=1)

In [ ]:
FL_CONSOLIDATED2019 = FL_CONSOLIDATED2019.astype({col: 'float16' for col in FL_CONSOLIDATED2019.select_dtypes('float64').columns})
FL_CONSOLIDATED2019 = FL_CONSOLIDATED2019.astype({col: 'int16' for col in FL_CONSOLIDATED2019.select_dtypes('int64').columns})

In [ ]:
for dataset in FL_CONSOLIDATED2019:
    FL_CONSOLIDATED2019.loc[FL_CONSOLIDATED2019['DEP_TIMEslot_BLK'] >=0, 'Dep_period'] = 'Midnight'
    FL_CONSOLIDATED2019.loc[FL_CONSOLIDATED2019['DEP_TIMEslot_BLK'] >=4,'Dep_period'] ='Early morning'
    FL_CONSOLIDATED2019.loc[FL_CONSOLIDATED2019['DEP_TIMEslot_BLK'] >=7,'Dep_period'] ='Morning'
    FL_CONSOLIDATED2019.loc[FL_CONSOLIDATED2019['DEP_TIMEslot_BLK'] >=12,'Dep_period'] ='Afternoon'
    FL_CONSOLIDATED2019.loc[FL_CONSOLIDATED2019['DEP_TIMEslot_BLK'] >=17,'Dep_period'] ='Evening'
    FL_CONSOLIDATED2019.loc[FL_CONSOLIDATED2019['DEP_TIMEslot_BLK'] >=20,'Dep_period'] ='Night'
    FL_CONSOLIDATED2019.loc[FL_CONSOLIDATED2019['DEP_TIMEslot_BLK'] ==24, 'Dep_period'] = 'Midnight'

In [ ]:
FL_CONSOLIDATED2019.head()

   QUARTER  MONTH  ...  DEP_TIMEslot_BLK Dep_period
0        1      1  ...                17    Evening
1        1      1  ...                 8    Morning
2        1      1  ...                 8    Morning
3        1      1  ...                 8    Morning
4        1      1  ...                 8    Morning

[5 rows x 24 columns]

# Adding new columns (DELAY_LAST_WEEK, DELAY_LAST_MONTH)

## DELAY_LAST_MONTH-->FL_NUM

In [ ]:
from datetime import date, timedelta

* first()-- used to subset initial periods of time series data based on a date offset.
* shift() function Shift index by desired number of periods with an optional time freq.
* rolling()--certain number of previous periods in a time series
* resample()--Resampling generates a unique sampling distribution on the basis of the actual data.1D=dates created on 1day frequency. We can apply various frequency to resample our time series data.

* group by using flight number and origin which generates unique key pairs, used while creating resample(1D) dates for calculating 30 days and 7days window
* while group by FL_ num alone has same dates with  diff org, airline, etc.. so used fl_num with origin for groupby.

  Grouping FL_NUM and ORIGIN and Resampling dates

In [ ]:
FL_CONSOLIDATED2019_temp1=FL_CONSOLIDATED2019[['OP_CARRIER_FL_NUM','ORIGIN','FL_DATE','DEP_DEL15']]
df_FLNUM = FL_CONSOLIDATED2019_temp1.groupby(['OP_CARRIER_FL_NUM','ORIGIN']).apply(lambda x: x.set_index('FL_DATE').resample('1D').first())

* Setting 30 days window frequency for resampled dates and calculating dep_del15 sum()
* merging with original table

In [ ]:
df1_30 = df_FLNUM.groupby(level=0)['DEP_DEL15'].apply(lambda x: x.shift().rolling(min_periods=1,window=30).sum()).reset_index(name='DELAY_Past_30_days_FL_NUM_ORIGIN')

In [ ]:
df1_30.head()

   OP_CARRIER_FL_NUM ORIGIN    FL_DATE  DELAY_Past_30_days_FL_NUM_ORIGIN
0                  1    BNA 2019-01-02                               NaN
1                  1    DAL 2019-01-01                               0.0
2                  1    DAL 2019-01-02                               0.0
3                  1    DAL 2019-01-03                               0.0
4                  1    DAL 2019-01-04                               0.0

In [ ]:
FL_CONSOLIDATED2019_new=pd.merge(FL_CONSOLIDATED2019, df1_30, on=['FL_DATE', 'OP_CARRIER_FL_NUM','ORIGIN'], how='left')

FL_CONSOLIDATED2019_new.head().sort_values(['FL_DATE'],ascending=True)

   QUARTER  MONTH  ...  Dep_period DELAY_Past_30_days_FL_NUM_ORIGIN
1        1      1  ...     Morning                              1.0
2        1      1  ...     Morning                              1.0
3        1      1  ...     Morning                              1.0
4        1      1  ...     Morning                              1.0
0        1      1  ...     Evening                              4.0

[5 rows x 25 columns]

# FL_NUM--> DELAY_LAST_7DAYS

In [ ]:
df1_7 = df_FLNUM.groupby(level=0)['DEP_DEL15'].apply(lambda x: x.shift().rolling(min_periods=1,window=7).sum()).reset_index(name='DELAY_Past_7_days_FL_NUM_ORIGIN')
FL_CONSOLIDATED2019_new_30_7=pd.merge(FL_CONSOLIDATED2019_new, df1_7, on=['FL_DATE','OP_CARRIER_FL_NUM','ORIGIN'], how='left')

In [ ]:
FL_CONSOLIDATED2019_new_30_7.head(100).sort_values(['FL_DATE'],ascending=True)

    QUARTER  ...  DELAY_Past_7_days_FL_NUM_ORIGIN
80        1  ...                              0.0
43        1  ...                              0.0
44        1  ...                              2.0
45        1  ...                              2.0
75        1  ...                              0.0
..      ...  ...                              ...
41        1  ...                              1.0
20        1  ...                              1.0
42        1  ...                              0.0
98        1  ...                              0.0
72        1  ...                              2.0

[100 rows x 26 columns]

cross Verification code

In [ ]:
filtered_df = FL_CONSOLIDATED2019_new_30_7[['FL_DATE','OP_CARRIER_FL_NUM','ORIGIN','DEP_DEL15','DELAY_Past_30_days_FL_NUM_ORIGIN','DELAY_Past_7_days_FL_NUM_ORIGIN']].loc[(FL_CONSOLIDATED2019_new_30_7['FL_DATE'] >= '2019-01-01')
                     & (FL_CONSOLIDATED2019_new_30_7['FL_DATE'] <= '2019-01-30') &  (FL_CONSOLIDATED2019_new_30_7['OP_CARRIER_FL_NUM']==2)  &  (FL_CONSOLIDATED2019_new_30_7['ORIGIN']=='FLL') ].sort_values(['FL_DATE'],ascending=True)
filtered_df

          FL_DATE  ...  DELAY_Past_7_days_FL_NUM_ORIGIN
547949 2019-01-01  ...                              0.0
548797 2019-01-02  ...                              1.0
549645 2019-01-03  ...                              2.0

[3 rows x 6 columns]

# TAIL_NUM, ORIGIN --> DELAY last 30 days

Having same date for tailnum and origin combination. since tailnum and dep_time is running for 1 hr, used this combination.

In [ ]:
FL_CONSOLIDATED2019_temp_tail=FL_CONSOLIDATED2019[['TAIL_NUM','FL_DATE','ORIGIN','DEP_DEL15']]
df_TAIL_30 = FL_CONSOLIDATED2019_temp_tail.groupby(['TAIL_NUM','ORIGIN']).apply(lambda x: x.set_index('FL_DATE').resample('1D').first())

In [ ]:
df1_TAIL = df_TAIL_30.groupby(level=0)['DEP_DEL15'].apply(lambda x: x.shift().rolling(min_periods=1,window=30).sum()).reset_index(name='DELAY_Past_30_days_TAILNUM')

In [ ]:
FL_CONSOLIDATED2019_new_TAIL=pd.merge(FL_CONSOLIDATED2019_new_30_7, df1_TAIL, on=['FL_DATE','TAIL_NUM','ORIGIN'], how='left')

cross verification code

In [ ]:
filtered_df_TAIL = FL_CONSOLIDATED2019_new_30_7[['FL_DATE','TAIL_NUM','ORIGIN','DEP_DEL15','DELAY_Past_30_days_TAILNUM']].loc[(FL_CONSOLIDATED2019_new_30_7['FL_DATE'] >= '2019-01-01')
                     & (FL_CONSOLIDATED2019_new_30_7['FL_DATE'] <= '2019-01-30') &  (FL_CONSOLIDATED2019_new_30_7['TAIL_NUM']=='216NV') & (FL_CONSOLIDATED2019_new_30_7['ORIGIN']=='USA') ].sort_values(['FL_DATE'],ascending=True)
filtered_df_TAIL

KeyError: ignored

In [ ]:
filtered_df_TAIL1 = FL_CONSOLIDATED2019_new_TAIL[['FL_DATE','TAIL_NUM','ORIGIN','DEP_DEL15','DELAY_Past_30_days_TAILNUM']].loc[(FL_CONSOLIDATED2019_new_TAIL['FL_DATE'] >= '2019-01-01')
                     & (FL_CONSOLIDATED2019_new_TAIL['FL_DATE'] <= '2019-01-30') &  (FL_CONSOLIDATED2019_new_TAIL['TAIL_NUM']=='216NV') ].sort_values(['FL_DATE'],ascending=True)
filtered_df_TAIL1

NameError: ignored

##  TAIL_NUM , ORIGIN -->DELAY_LAST_7DAYS_COUNT

In [ ]:
df1_TAIL_7 = df_TAIL_30.groupby(level=0)['DEP_DEL15'].apply(lambda x: x.shift().rolling(min_periods=1,window=7).sum()).reset_index(name='DELAY_Past_7_days_TAILNUM')

In [ ]:
FL_CONSOLIDATED2019_new_tail7=pd.merge(FL_CONSOLIDATED2019_new_TAIL, df1_TAIL_7, on=['FL_DATE','TAIL_NUM','ORIGIN'], how='left')

In [ ]:
FL_CONSOLIDATED2019_new_tail7

         QUARTER  MONTH  ...  DELAY_Past_30_days_TAILNUM DELAY_Past_7_days_TAILNUM
0              1      1  ...                         0.0                       NaN
1              1      1  ...                         1.0                       1.0
2              1      1  ...                         1.0                       1.0
3              1      1  ...                         1.0                       1.0
4              1      1  ...                         0.0                       0.0
...          ...    ...  ...                         ...                       ...
3874807        2      6  ...                        10.0                       2.0
3874808        2      6  ...                         1.0                       0.0
3874809        2      6  ...                         7.0                       4.0
3874810        2      6  ...                         1.0                       0.0
3874811        2      6  ...                         0.0                       0.0

[3874812 rows x 28 columns]

below code running for more than hour

# TAIL_NUM, DEP_TIME --> DELAY_LASTMONTH_COUNT

In [ ]:
FL_CONSOLIDATED2019_temp_tail=FL_CONSOLIDATED2019[['TAIL_NUM','FL_DATE','DEP_TIME','DEP_DEL15']]
df_TAIL_30 = FL_CONSOLIDATED2019_temp_tail.groupby(['TAIL_NUM','DEP_TIME']).apply(lambda x: x.set_index('FL_DATE').resample('1D').first())

In [ ]:
#df_TAIL_30.head(100)

In [ ]:
df1_TAIL = df_TAIL_30.groupby(level=0)['DEP_DEL15'].apply(lambda x: x.shift().rolling(min_periods=1,window=30).sum()).reset_index(name='DELAY_Past_30_days_TAILNUM')

NameError: ignored

In [ ]:
df1_TAIL.head(50)

NameError: ignored

In [ ]:
FL_CONSOLIDATED2019_new_TAIL=pd.merge(FL_CONSOLIDATED2019_new_30_7, df1_TAIL, on=['FL_DATE','TAIL_NUM','DEP_TIME'], how='left')

In [ ]:
#FL_CONSOLIDATED2019_new_TAIL=FL_CONSOLIDATED2019_new_TAIL.drop(columns=['Value_Average_Past_30_days_y'] ,axis=1)

In [ ]:
#FL_CONSOLIDATED2019_new_TAIL.head(100).sort_values(['FL_DATE'],ascending=True)

##  TAIL_NUM-->DELAY_LAST_7DAYS_COUNT

In [ ]:
df1_TAIL_7 = df_TAIL.groupby(level=0)['DEP_DEL15'].apply(lambda x: x.shift().rolling(min_periods=1,window=7).sum()).reset_index(name='DELAY_Past_7_days_TAILNUM')

In [ ]:
FL_CONSOLIDATED2019_new_tail7=pd.merge(FL_CONSOLIDATED2019_new_TAIL, df1_7, on=['FL_DATE','TAIL_NUM','ORIGIN'], how='left')

In [ ]:
#FL_CONSOLIDATED2019_new_tail7.head(100).sort_values(['FL_DATE'],ascending=True)

In [ ]:
#weekNumber = FL_CONSOLIDATED2019['FL_DATE'].dt.week
#weekNumber.head()

In [ ]:
#weekNumber = FL_CONSOLIDATED2019['FL_DATE'].dt.week
#filtered_lastweek_df = filtered_lastmonth_df.loc[(filtered_lastmonth_df['WEEK_OF_MONTH'] == 5)]

In [ ]:
#FL_CONSOLIDATED2019['DELAY_lastWEEK_COUNT']=filtered_lastweek_df.groupby(['OP_CARRIER_FL_NUM'])['DEP_DEL15'].sum()

In [ ]:
#FL_CONSOLIDATED2019[['OP_CARRIER_FL_NUM','DELAY_lastmonth_COUNT','DELAY_lastWEEK_COUNT']].head()