In [ ]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.dates as mtd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
FL_JAN_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_JAN_2019_20cols.csv')
FL_FEB_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_FEB_2019_20colscsv.txt')
FL_MAR_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_MARCH_2019_20cols.csv')
FL_APRIL_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_APRIL_2019_20colscsv.txt')
FL_MAY_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_MAY_2019_20cols.csv')
FL_JUNE_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_JUNE_2019_20cols.csv')

In [ ]:
FL_JULY_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_JULY_2019_20cols.csv')
FL_AUG_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_AUG_2019_20cols.csv')
FL_SEPT_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_SEPT_2019_20cols.csv')
FL_OCT_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_OCT_2019_20cols.csv')
FL_NOV_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_NOV_2019_22cols.csv')
FL_DEC_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_DEC_2019_20cols.csv')

In [ ]:
FL_JAN_2021_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2021_20cols/FL_JAN_2021_20cols.csv')
FL_FEB_2021_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2021_20cols/FL_FEB_2021_22cols.csv')
FL_MAR_2021_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2021_20cols/FL_MARCH_2021_20cols.csv')
FL_APRIL_2021_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2021_20cols/FL_APRIL_2021_22cols.csv')
FL_MAY_2021_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2021_20cols/FL_MAY_2021_20cols.csv')
FL_JUNE_2021_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2021_20cols/FL_JUNE_2021_22cols.csv')
FL_JULY_2021_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2021_20cols/FL_JULY_2021_20cols.csv')

In [ ]:
FL_CONSOLIDATED2019_21=pd.concat([FL_JAN_2019_22cols,FL_FEB_2019_22cols,FL_MAR_2019_22cols,FL_APRIL_2019_22cols,FL_MAY_2019_22cols,FL_JUNE_2019_22cols,FL_JULY_2019_22cols,FL_AUG_2019_22cols,FL_SEPT_2019_22cols,FL_OCT_2019_22cols,FL_NOV_2019_22cols,FL_DEC_2019_22cols,FL_JAN_2021_22cols,FL_FEB_2021_22cols,FL_MAR_2021_22cols,FL_APRIL_2021_22cols,FL_MAY_2021_22cols,FL_JUNE_2021_22cols,FL_JULY_2021_22cols], axis=0)

In [ ]:
#FL_CONSOLIDATED2019_21.count()

In [ ]:
FL_CONSOLIDATED2019_21=FL_CONSOLIDATED2019_21.drop(columns=['Unnamed: 20'] ,axis=1)

In [ ]:
from datetime import date
FL_CONSOLIDATED2019_21['FL_DATE']=pd.to_datetime(FL_CONSOLIDATED2019_21['FL_DATE'],format='%Y-%m-%d')

In [ ]:
#FL_CONSOLIDATED2019_21.head()

In [ ]:
#FL_CONSOLIDATED2019_21.info()

In [ ]:
FL_CONSOLIDATED2019_21.isna().sum()

QUARTER                      0
MONTH                        0
DAY_OF_WEEK                  0
FL_DATE                      0
OP_CARRIER                   0
TAIL_NUM                 39769
OP_CARRIER_FL_NUM            0
ORIGIN                       0
DEP_TIME                201107
DEP_DELAY               201186
DEP_DEL15               201186
TAXI_OUT                206669
WHEELS_OFF              206669
CRS_ELAPSED_TIME            10
DISTANCE                     0
CARRIER_DELAY          9407258
WEATHER_DELAY          9407258
NAS_DELAY              9407258
SECURITY_DELAY         9407258
LATE_AIRCRAFT_DELAY    9407258
dtype: int64

### * Replacing nan as zero in all columns  
* dropping null values in DEP_DELAY','DEP_DEL15','DEP_TIME

In [ ]:
FL_CONSOLIDATED2019_21.dropna(subset=['DEP_DELAY','DEP_DEL15','DEP_TIME'],inplace=True)

In [ ]:
FL_CONSOLIDATED2019_21.isna().sum()

QUARTER                      0
MONTH                        0
DAY_OF_WEEK                  0
FL_DATE                      0
OP_CARRIER                   0
TAIL_NUM                     0
OP_CARRIER_FL_NUM            0
ORIGIN                       0
DEP_TIME                     0
DEP_DELAY                    0
DEP_DEL15                    0
TAXI_OUT                  5484
WHEELS_OFF                5484
CRS_ELAPSED_TIME             3
DISTANCE                     0
CARRIER_DELAY          9206072
WEATHER_DELAY          9206072
NAS_DELAY              9206072
SECURITY_DELAY         9206072
LATE_AIRCRAFT_DELAY    9206072
dtype: int64

In [ ]:
FL_CONSOLIDATED2019_21[['TAXI_OUT','WHEELS_OFF','CARRIER_DELAY','WEATHER_DELAY','NAS_DELAY','SECURITY_DELAY','LATE_AIRCRAFT_DELAY']].fillna(0)

        TAXI_OUT  WHEELS_OFF  ...  SECURITY_DELAY  LATE_AIRCRAFT_DELAY
0           11.0      1738.0  ...             0.0                  0.0
1           19.0       849.0  ...             0.0                  0.0
2           21.0       851.0  ...             0.0                  0.0
3           35.0       900.0  ...             0.0                  0.0
4           41.0       907.0  ...             0.0                  0.0
...          ...         ...  ...             ...                  ...
615698      15.0      1614.0  ...             0.0                 23.0
615699      17.0      1542.0  ...             0.0                  0.0
615700      14.0      1317.0  ...             0.0                  0.0
615701      16.0      1418.0  ...             0.0                  0.0
615702      20.0      1731.0  ...             0.0                 30.0

[11270655 rows x 7 columns]

# Creating new column- WEEK_OF_MONTH

In [ ]:
#The calendar module has a monthcalendar method that returns a 2D array where each row represents a week. For example:
#import calendar
#calendar.monthcalendar(2015,9)
#result o/p ll be ilke this:

'''[[0,0,1,2,3,4,5],
 [6,7,8,9,10,11,12],
 [13,14,15,16,17,18,19],
 [20,21,22,23,24,25,26],
 [27,28,29,30,0,0,0]]'''

'[[0,0,1,2,3,4,5],\n [6,7,8,9,10,11,12],\n [13,14,15,16,17,18,19],\n [20,21,22,23,24,25,26],\n [27,28,29,30,0,0,0]]'

In [ ]:
#solution for the above code
import datetime
from calendar import Calendar

def week_of_month(tgtdate):
  n = datetime.datetime(tgtdate.year, tgtdate.month, tgtdate.day)
  cal = Calendar() # week starts Monday
#cal = Calendar(6) # week stars Sunday
  weeks = cal.monthdayscalendar(n.year, n.month)
  for x in range(len(weeks)):
    if n.day in weeks[x]:
        return(x+1)
FL_CONSOLIDATED2019_21['WEEK_OF_MONTH'] = FL_CONSOLIDATED2019_21['FL_DATE'].apply(week_of_month)

In [ ]:
FL_CONSOLIDATED2019_21[['FL_DATE','WEEK_OF_MONTH']].head()

     FL_DATE  WEEK_OF_MONTH
0 2019-01-26              4
1 2019-01-07              2
2 2019-01-08              2
3 2019-01-09              2
4 2019-01-10              2

# Creating New column--> Week days==0, Weekends == 1(DAY_OF_WEEK_days_end)

In [ ]:
def get_day_category(day_of_week):
    if day_of_week <= 5:
        return 0 #'working day'
    elif day_of_week > 5:
        return 1 #'weekend'
FL_CONSOLIDATED2019_21['DAY_OF_WEEK_days_end'] = FL_CONSOLIDATED2019_21['DAY_OF_WEEK']
   
FL_CONSOLIDATED2019_21['DAY_OF_WEEK_days_end'] = FL_CONSOLIDATED2019_21.DAY_OF_WEEK_days_end.apply(get_day_category)
#FL_CONSOLIDATED2019_21.head()

# Deleting null values in DEP_TIME column

# Creating New column-> DEP_TIME_BLK as 6 block per day, using DEP_time with 24 hrs time stamp

In [ ]:
def get_dep_time_blk(dep_time):
    dep_hour = str('%04d' %(dep_time))[:2]
    
    return dep_hour

FL_CONSOLIDATED2019_21['DEP_TIMEslot_BLK'] = FL_CONSOLIDATED2019_21.DEP_TIME.apply(get_dep_time_blk)
print(FL_CONSOLIDATED2019_21[['DEP_TIME','DEP_TIMEslot_BLK']].head(5))

   DEP_TIME DEP_TIMEslot_BLK
0    1727.0               17
1     830.0               08
2     830.0               08
3     825.0               08
4     826.0               08

In [ ]:
FL_CONSOLIDATED2019_21[['DEP_TIMEslot_BLK']]=FL_CONSOLIDATED2019_21[['DEP_TIMEslot_BLK']].astype(int)

In [ ]:
FL_CONSOLIDATED2019_21.head()

   QUARTER  MONTH  ...  DAY_OF_WEEK_days_end DEP_TIMEslot_BLK
0        1      1  ...                     1               17
1        1      1  ...                     0                8
2        1      1  ...                     0                8
3        1      1  ...                     0                8
4        1      1  ...                     0                8

[5 rows x 23 columns]

In [ ]:
FL_CONSOLIDATED2019_21=FL_CONSOLIDATED2019_21.drop(columns=['DEP_TIME'] ,axis=1)

In [ ]:
FL_CONSOLIDATED2019_21 = FL_CONSOLIDATED2019_21.astype({col: 'float16' for col in FL_CONSOLIDATED2019_21.select_dtypes('float64').columns})
FL_CONSOLIDATED2019_21 = FL_CONSOLIDATED2019_21.astype({col: 'int16' for col in FL_CONSOLIDATED2019_21.select_dtypes('int64').columns})

In [ ]:
for dataset in FL_CONSOLIDATED2019_21:
    FL_CONSOLIDATED2019_21.loc[FL_CONSOLIDATED2019_21['DEP_TIMEslot_BLK'] >=0, 'Dep_period'] = 'Midnight'
    FL_CONSOLIDATED2019_21.loc[FL_CONSOLIDATED2019_21['DEP_TIMEslot_BLK'] >=4,'Dep_period'] ='Early morning'
    FL_CONSOLIDATED2019_21.loc[FL_CONSOLIDATED2019_21['DEP_TIMEslot_BLK'] >=7,'Dep_period'] ='Morning'
    FL_CONSOLIDATED2019_21.loc[FL_CONSOLIDATED2019_21['DEP_TIMEslot_BLK'] >=12,'Dep_period'] ='Afternoon'
    FL_CONSOLIDATED2019_21.loc[FL_CONSOLIDATED2019_21['DEP_TIMEslot_BLK'] >=17,'Dep_period'] ='Evening'
    FL_CONSOLIDATED2019_21.loc[FL_CONSOLIDATED2019_21['DEP_TIMEslot_BLK'] >=20,'Dep_period'] ='Night'
    FL_CONSOLIDATED2019_21.loc[FL_CONSOLIDATED2019_21['DEP_TIMEslot_BLK'] ==24, 'Dep_period'] = 'Midnight'

In [ ]:
#FL_CONSOLIDATED2019_21.head()

# Adding new columns (DELAY_LAST_WEEK, DELAY_LAST_MONTH)

## DELAY_LAST_MONTH-->FL_NUM

In [ ]:
from datetime import date, timedelta

* first()-- used to subset initial periods of time series data based on a date offset.
* shift() function Shift index by desired number of periods with an optional time freq.
* rolling()--certain number of previous periods in a time series
* resample()--Resampling generates a unique sampling distribution on the basis of the actual data.1D=dates created on 1day frequency. We can apply various frequency to resample our time series data.

* group by using flight number and origin which generates unique key pairs, used while creating resample(1D) dates for calculating 30 days and 7days window
* while group by FL_ num alone has same dates with  diff org, airline, etc.. so used fl_num with origin for groupby.

In [ ]:
FL_CONSOLIDATED2019_21_temp1=FL_CONSOLIDATED2019_21[['OP_CARRIER_FL_NUM','ORIGIN','FL_DATE','DEP_DEL15']]
df = FL_CONSOLIDATED2019_21_temp1.groupby(['OP_CARRIER_FL_NUM','ORIGIN']).apply(lambda x: x.set_index('FL_DATE').resample('1D').first())
df1 = df.groupby(level=0)['DEP_DEL15'].apply(lambda x: x.shift().rolling(min_periods=1,window=30).sum()).reset_index(name='Value_Average_Past_30_days')
FL_CONSOLIDATED2019_21_new=pd.merge(FL_CONSOLIDATED2019_21, df1, on=['FL_DATE', 'OP_CARRIER_FL_NUM','ORIGIN'], how='left')
FL_CONSOLIDATED2019_21_new.head(100).sort_values(['FL_DATE'],ascending=True)

# TAIL_NUM --> DELAY_LASTMONTH_COUNT

In [ ]:
FL_CONSOLIDATED2019_21_temp_tail=FL_CONSOLIDATED2019_21[['TAIL_NUM','FL_DATE','ORIGIN','DEP_DEL15']]
df_TAIL = FL_CONSOLIDATED2019_21_temp_tail.groupby(['TAIL_NUM']).apply(lambda x: x.set_index('FL_DATE').resample('1D').first())

In [ ]:
df_TAIL.head(100)

                    TAIL_NUM  DEP_DEL15
TAIL_NUM FL_DATE
215NV    2019-01-01    215NV        0.0
         2019-01-02    215NV        0.0
         2019-01-03    215NV        0.0
         2019-01-04    215NV        0.0
         2019-01-05    215NV        0.0
...                      ...        ...
         2019-04-06    215NV        0.0
         2019-04-07    215NV        0.0
         2019-04-08    215NV        0.0
         2019-04-09    215NV        1.0
         2019-04-10    215NV        0.0

[100 rows x 2 columns]

In [ ]:
#shift() function Shift index by desired number of periods with an optional time freq.
#rolling()--certain number of previous periods in a time series
df1_TAIL = df_TAIL.groupby(level=0)['DEP_DEL15'].apply(lambda x: x.shift().rolling(min_periods=1,window=30).sum()).reset_index(name='Value_Average_Past_30_days')

In [ ]:
df1_TAIL.head(50)

   TAIL_NUM    FL_DATE  Value_Average_Past_30_days
0     215NV 2019-01-01                         NaN
1     215NV 2019-01-02                         0.0
2     215NV 2019-01-03                         0.0
3     215NV 2019-01-04                         0.0
4     215NV 2019-01-05                         0.0
5     215NV 2019-01-06                         0.0
6     215NV 2019-01-07                         0.0
7     215NV 2019-01-08                         0.0
8     215NV 2019-01-09                         0.0
9     215NV 2019-01-10                         0.0
10    215NV 2019-01-11                         0.0
11    215NV 2019-01-12                         1.0
12    215NV 2019-01-13                         1.0
13    215NV 2019-01-14                         1.0
14    215NV 2019-01-15                         1.0
15    215NV 2019-01-16                         1.0
16    215NV 2019-01-17                         1.0
17    215NV 2019-01-18                         1.0
18    215NV 2019-01-19                         1.0
19    215NV 2019-01-20                         1.0
20    215NV 2019-01-21                         1.0
21    215NV 2019-01-22                         2.0
22    215NV 2019-01-23                         2.0
23    215NV 2019-01-24                         2.0
24    215NV 2019-01-25                         3.0
25    215NV 2019-01-26                         3.0
26    215NV 2019-01-27                         3.0
27    215NV 2019-01-28                         3.0
28    215NV 2019-01-29                         3.0
29    215NV 2019-01-30                         3.0
30    215NV 2019-01-31                         3.0
31    215NV 2019-02-01                         3.0
32    215NV 2019-02-02                         3.0
33    215NV 2019-02-03                         3.0
34    215NV 2019-02-04                         3.0
35    215NV 2019-02-05                         4.0
36    215NV 2019-02-06                         4.0
37    215NV 2019-02-07                         4.0
38    215NV 2019-02-08                         4.0
39    215NV 2019-02-09                         4.0
40    215NV 2019-02-10                         4.0
41    215NV 2019-02-11                         3.0
42    215NV 2019-02-12                         3.0
43    215NV 2019-02-13                         3.0
44    215NV 2019-02-14                         3.0
45    215NV 2019-02-15                         3.0
46    215NV 2019-02-16                         3.0
47    215NV 2019-02-17                         3.0
48    215NV 2019-02-18                         4.0
49    215NV 2019-02-19                         4.0

In [ ]:
FL_CONSOLIDATED2019_21_new_TAIL=pd.merge(FL_CONSOLIDATED2019_21, df1_TAIL, on=['FL_DATE', 'TAIL_NUM'], how='left')

In [ ]:
#FL_CONSOLIDATED2019_21_new_TAIL=FL_CONSOLIDATED2019_21_new_TAIL.drop(columns=['Value_Average_Past_30_days_y'] ,axis=1)

In [ ]:
FL_CONSOLIDATED2019_21_new_TAIL.head(100).sort_values(['FL_DATE'],ascending=True)

    QUARTER  MONTH  ...     Dep_period Value_Average_Past_30_days
80        1      1  ...        Morning                        NaN
43        1      1  ...      Afternoon                        NaN
44        1      1  ...        Evening                        0.0
45        1      1  ...        Evening                        0.0
75        1      1  ...        Morning                        0.0
..      ...    ...  ...            ...                        ...
41        1      1  ...        Morning                        5.0
20        1      1  ...        Morning                        3.0
42        1      1  ...        Morning                        3.0
98        1      1  ...  Early morning                        3.0
72        1      1  ...        Evening                        7.0

[100 rows x 24 columns]

## DELAY_LASTWEEK_COUNT

In [ ]:
#weekNumber = FL_CONSOLIDATED2019_21['FL_DATE'].dt.week
#weekNumber.head()

In [ ]:
#weekNumber = FL_CONSOLIDATED2019_21['FL_DATE'].dt.week
#filtered_lastweek_df = filtered_lastmonth_df.loc[(filtered_lastmonth_df['WEEK_OF_MONTH'] == 5)]

In [ ]:
#FL_CONSOLIDATED2019_21['DELAY_lastWEEK_COUNT']=filtered_lastweek_df.groupby(['OP_CARRIER_FL_NUM'])['DEP_DEL15'].sum()

In [ ]:
#FL_CONSOLIDATED2019_21[['OP_CARRIER_FL_NUM','DELAY_lastmonth_COUNT','DELAY_lastWEEK_COUNT']].head()